* {
    font-family: sans-serif;
}

header {
    background-color: #1F2937;
    margin: -8px;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 10px;
    padding-bottom: 100px;
    
}

ul {
    display: flex;
    justify-content: space-between; /* This will push the logo to the left and nav to the right */
    align-items: center;
}

a {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

.main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: -10px;
    
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    
}

.header-section-two {
    display: flex;
    justify-content: space-between; /* This will push the logo to the left and nav to the right */
    align-items: center;
}

.header-section-one {
    display: flex;
    justify-content: space-between; /* This will push the logo to the left and nav to the right */
    align-items: center;
}

.nav-items {
    padding-left: 30px;
}

.sec-two-btn {
    background-color: #3882F6;
    width: 120px;
    height: 35px;
    border: #3882F6;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 800;
    color: #F9FAF8;
}

.back {
    flex: 1;
    width: 470px;
    height: 200px;
    margin-top: 70px;
}

.body-one {
    padding-top: 50px;
    padding-bottom: 150px;
}

.body-one-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
}

.body-one-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.body-one-image-container {
    width: 150px;
    height: 200px;
    text-align: center;
}

.body-one-image {
    width: 150px;
    height: 150px;
    border: solid 5px #3882F6;
    border-radius: 8px;
    flex: 0.2;
}

.body-two {
    background-color: #E5E7EB;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 50px;
    padding-bottom: 50px;    
}

.body-two-container {
    padding-left: 280px;
    padding-right: 280px;
}

.body-two-quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.body-two-quote-remark {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
}
